.App {
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.schedule-card{
  border: 1px solid gray;
  border-radius: 20px;
}

.channel-name{
  font-size: 25px;
  color: black;
}

.border-bottom{
  border-bottom: 1px solid gray;
}

.footer{
  position: relative;
}

.back-home{
  text-align: left;
  padding-left: 20px;
  color: #282c34;
}

.suggested-list{
  position: absolute;
  width: 50%;
  top: 40px;
  box-shadow: rgba(0,0,0,0.16) 0px 0px 10px;
  z-index: 5;
}
.suggested-list li{
  cursor: pointer;
}
.suggested-list li:hover{
  background: azure;
}
.progress{
  border-radius: 1.25rem !important;
}

.info-section i{
  font-size: 20px;
  display: table;
  margin: 0 auto;
  cursor: pointer;
}

.info-section p {
  text-align: center;
}

.info-section .circle-record{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: red;
  display: table;
  margin: 0 auto;
  cursor: pointer;
}